<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pizza Menu</title>
  </head>
  <body>
    <h1>Rustic Pizza</h1>
    <ul>
      {{#each pizzas}}
        <li>
           <form action="/pizza/order" method="post">
             <input type="hidden" name="name" value="{{this}}"/>
             {{this}}
             <button type="submit">order</button>
           </form>
        </li>
      {{/each}}
    </ul>
  </body>
</html>
