<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pizza Menu</title>
  </head>
  <body>
    <h1>Rustic Pizza</h1>
    <ul>
      {{#each pizzas}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>
